apiVersion: v1
kind: Secret
metadata:
  name: csi-wekafs-api-secret
  namespace: csi-wekafs
type: Opaque
data:
  username: YWRtaW4=
  password: V3lhcDZEN25DNVREekpzbA==
  scheme: aHR0cHM=
  endpoints: MTAuMC42Ny4xNTk6MTQwMDAsMTAuMC42Ny4xNToxNDAwMCwxMC4wLjY2Ljk1OjE0MDAwLDEwLjAuNjUuODI6MTQwMDAsMTAuMC42NC4xOTQ6MTQwMDAsMTAuMC42Ny42OToxNDAwMAo=
  organization: Um9vdA==
